# Drafts temporaires
drafts/pom/*.resource
drafts/tests/*.robot

# Output Robot Framework
output/robot/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
.env
venv/

.docs/
.playwright-mcp/

*.resource
*.robot
screens/**/*.png

explore-report.md

.tailk/settings.json
